<!-- Example HTML to bind to ProductControllerController -->

<div ng-controller="ProductController as productCtrl">
    <div ng-if="!productCtrl.isLoggedIn">
        <!-- Login form -->
        <h2>Login</h2>
        <form ng-submit="productCtrl.login()">
            <input type="text" ng-model="productCtrl.user.username" placeholder="Username" required />
            <input type="password" ng-model="productCtrl.user.password" placeholder="Password" required />
            <button type="submit">Login</button>
        </form>
    </div>

    <div ng-if="productCtrl.isLoggedIn">
        <!-- Product list -->
        <h2>Product List</h2>
        <ul>
            <li ng-repeat="product in productCtrl.products">
                {{ product.name }} - ${{ product.price }}
            </li>
        </ul>
    </div>
</div>

